

.background {
  background-color: black;
  width: 90%;          
  max-width: 1200px;   
  text-align: center;
  margin: 10px 120px;   
  padding: 40px;         
  opacity:100%;
  border-radius: 10px;   
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
  
}

.logo{
  height: 90px;
  margin-left: 1%;
  margin-top: 0px;

}

.information{
    background-color: black;
    box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
    margin: 20px 155px;
    padding: 110px 344px;
    height:200px;
}

body, html {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url('background.jpg'); 
  opacity: 90%;
  background-size: cover;     
  background-position: center;
  background-repeat: no-repeat;
}

.mission-statement {
  font-size: 24px;   
  color: greenyellow;     
  font-style: italic;
  margin-top: 20px;
}

nav {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 20px 30px;
  display: flex;
  justify-content: center;  
  gap: 50px;             
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;          
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: greenyellow; 
}

form input{
  height:20px;
  width:250px;
  top:0%;
  text-align: left;
  margin-inline: 0px;
}

form{
  width:520px;
  margin: 0 auto;
  top: -90px;
  position: relative;
  
}

form textarea{
  height:120px;
  width:510px;
}

.contactform{
    background-color: black;
    box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
    background-image: url('background.jpg'); 
    height:110px;
    margin-top: 0;
    text-align: center;
    margin: 20px 155px;
    padding: 90px 0px;
    height:200px;
}

.informationabout{
    background-color: black;
    box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
    margin: 0px 80px;
    padding: 200px 20px;
    height:-400px;
    text-align: center;
}

.about{
  background-color: black;
  text-align: center;
  margin: 0px 0px;
  height: 550px;

}

.about2 button{
  margin-top:100px;
}

.about2{
  background-color: black;
  text-align: center;
  height: 000px;
}

.portfoliophotos{
  margin-left: -100px;
}

.backgroundportfolio{
  background-color: black;
  width: 90%;         
  max-width: 1200px;   
  text-align: center;
  margin-left: 100px;
  margin-top: 1520px; 
  padding: 20px;         
  opacity:100%;
  border-radius: 10px;   
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
}

.backgroundservices{
    background-color: black;
  width: 90%;         
  max-width: 1200px;   
  text-align: center;
  margin-left: 100px;
  margin-top: 10px; 
  padding: 20px;         
  opacity:100%;
  border-radius: 10px;   
  box-shadow: 0 6px 15px rgba(200, 200, 200, 0.7); 
}

